div.settings_panel {
  display: block;
  box-sizing: border-box;
  min-width: 260px;
  width: 260px;
  border: 1px solid rgba(var(--lightGrey), 1);
  border-radius: var(--imageBorderRadius);
  overflow: hidden;
}
div.settings_panel h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
  padding: 1.25rem;
  color: #fff;
}
.light_blue {
  background-color: rgba(var(--accountLightBlue), 1);
}
.settings.panel a {
  color: #000;
}
ul.panel {
  padding: 0.5rem 0;
}
ul.panel.with_counts li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.625rem 1.25rem;
}
ul.panel.with_counts li span {
  line-height: 1.4em;
  display: inline-flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 300;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0 10px;
  border-radius: 8px;
  white-space: nowrap;
}

.search_tip {
  margin-top: 20px;
  color: #666;
}
.basic-info .hide-xs {
  display: none;
}

